@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Clearfix */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    color: #f2f2f7;
    background-color: #1c1c1e;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#result {
    width: 100%;
    text-align: right;
    padding: 8rem 1.5rem 1rem 0;
    font-size: 5rem;
}

#grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}

.grid__button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.zero-btn-container {
    grid-column: 1 / 3;
}

.action-btn {
    position: relative;
    padding: 1.9rem;
    width: 100%;
    border: none;
    border-radius: 100%;
    background-color: #48484a;
    color: #f2f2f7;
    font-size: 2.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    transition: .3s ease;
    font-family: 'Montserrat', sans-serif;
}

.action-btn:hover {
    background-color: #3a3a3c;
}

.action-btn i {
    font-size: 1.7rem;
}

.action-btn[data-action="delete"],
.action-btn[data-action="backspace"],
.action-btn[data-action="percent"] {
    background-color: #8e8e93;
    color: #1c1c1e;
}

.action-btn[data-action="delete"]:hover,
.action-btn[data-action="backspace"]:hover,
.action-btn[data-action="percent"]:hover {
    background-color: #636366;
}

.action-btn[data-action="divide"],
.action-btn[data-action="multiply"],
.action-btn[data-action="minus"],
.action-btn[data-action="plus"],
.action-btn[data-action="equals"] {
    background-color: #ff9d0a;
}

.action-btn[data-action="divide"]:hover,
.action-btn[data-action="multiply"]:hover,
.action-btn[data-action="minus"]:hover,
.action-btn[data-action="plus"]:hover,
.action-btn[data-action="equals"]:hover {
    background-color: #bf7300;
}

.action-btn[data-action="0"] {
    border-radius: 5rem;
    aspect-ratio: 2.203 / 1;
}
